
# ملفات بيئة التشغيل
.venv/
__pycache__/
*.pyc

# ملفات البيانات الكبيرة
data/*.csv
data/*.xlsx
libraries/*.whl
# ملفات النظام المؤقتة
.DS_Store
Thumbs.db

# ملفات Gradio المؤقتة
*.log
*.tmp

# ملفات Jupyter 
.ipynb_checkpoints/

# ملفات بيئة VS Code
.vscode/
 libraries/
.gradio/